html, body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 40% 55% 5%;
    height: 100vh;
}

.bio {
    padding: 2em;
}

.bio>a {
    color: #0a0a0a;
}

.artworks {
    width: 100%;
    overflow: scroll;
}

.image {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1);
    transition-duration: 1.3s;
}

.image:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 1.3s;
    transition-timing-function: ease-in-out;
    backdrop-filter: blur(5px);
    filter: invert(100%);
}

.image>a {
    text-decoration: none;
    color: #0a0a0a;
}

.image-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bolder;
}

.photo-container {
    margin-top: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.artist-photo {
    width: 250px;
    height: 250px;
}

.artist-photo>img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}