<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/artist.css">
    <link rel="stylesheet" href="../static/css/animations.css">
</head>
<body>
<div class="grid">
    <div class="artworks">
        <div class="image" style="background-image: url('../static/images/tagli.jpeg')">
            <a href="google.com">
                <div class="image-detail">
                    <h1>Taglio 1</h1>
                </div>
            </a>
        </div>
        <div class="image" style="background-image: url('../static/images/tagli.jpeg')"></div>
        <div class="image" style="background-image: url('../static/images/tagli.jpeg')"></div>
        <div class="image" style="background-image: url('../static/images/tagli.jpeg')"></div>
    </div>
    <div class="bio">
        <a href="">← Torna indietro</a>
        <h1>Lucio Fontana</h1>

        <b>Argentina <span>19/02/1899</span> <span>- 7/09/1968</span></b>

        <p>Born in Rosario, province of Santa Fe, Argentina to Italian immigrant parents, he was the son of the sculptor
            Luigi Fontana (1865 — 1946).[2][3] Fontana spent the first years of his life in Argentina and then was sent
            to
            Italy in 1905, where he stayed until 1922, working as a sculptor with his father, and then on his own.
            Already
            in 1926, he participated in the first exhibition of Nexus, a group of young Argentine artists working in
            Rosario
            de Santa Fé.[4]
        </p>

        <div class="photo-container">
            <div class="artist-photo">
                <img src="../static/images/fontana.jpeg" alt="">
            </div>
        </div>

    </div>
</div>
</body>
</html>