<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artisti</title>
    <link rel="stylesheet" href="../static/css/artists.css">
</head>
<body>
<div class="grid">
    <nav>
        <h1>Galleria Nazionale</h1>

        <div class="scale-up-center">
            <a th:href="@{/autori}">Artisti</a>
        </div>
        <div class="scale-up-center">
            <a th:href="@{/autori}">Collezioni</a>
        </div>
        <div class="scale-up-center">
            <a th:href="@{/autori}">Informazioni</a>
        </div>
        <div class="scale-up-center">
            <a th:href="@{/autori}">Login</a>
        </div>
    </nav>
</div>
</body>
</html>