<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/collections.css">
    <title>Title</title>
</head>
<body>

<div class="intro">
    <i>Paolo Rossi presenta:</i>
    <h1>Spazialismo</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum deleniti, dicta dolorum earum facilis illo,
        maiores minima praesentium quam quia quidem voluptate voluptates. Aperiam eos fugiat, molestias natus sequi
        unde? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, facere illum magnam quibusdam quo rem
        rerum! Asperiores autem, quasi? Architecto at aut fugiat illo ipsam minima molestias, quas voluptas
        voluptate.</p>

</div>

<div class="grid-wrapper">
    <div class="artwork" style="background-image: url('../static/images/tagli.jpeg')">
        <div class="artwork-info">
            <h4>Tagli </h4>
            <i>Lucio fontana</i>
        </div>
    </div>
</div>

</body>
</html>