<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
</head>
<body>

<div class="grid">
    <main class="main-content">
        <h1>Beyond art</h1>
        <i>Gli artisti che sono andati oltre l'arte</i>
        <h2>Cos'è lo Spazialismo</h2>
        <p>The movement (Movimento Spaziale &hyphen; spacialist movement, or spacialism) was launched in 1947 after
            Lucio
            Fontana’s return to Italy from Argentina with the first Manifiesto Spaziale (spatialist manifesto). In this,
            and in the several more that followed, Fontana developed the ideas of the Manifiesto Blanco issued at the
            Altamira Academy in Buenos Aires the year before. There he had called for an art that embraced science and
            technology and made use of such things as neon light, radio and television.</p>

        <p>In 1949 Fontana installed his Ambiente Spaziale at the Galleria del Naviglio in Milan. It consisted of an
            abstract object painted with phosphorescent paint and lit by a neon light, and was a pioneering example of
            what became known as installation art. He subsequently went on to make the works on canvas to which he gave
            the generic title of Concetto Spaziale (spatial concept) although continuing to make installations using
            light. The basis of the Concetto Spaziale works was the piercing, or later slashing with a razor, of the
            canvas to create an actual dimension of space. Fontana made a long series of these and extended the idea
            into sculpture in his Concetto Spaziale, Natura series.</p>

        <div class="flagship">
            <div class="artwork">
                <img src="../static/images/spatialism.jpeg" th:src="@{/images/spatialism.jpeg}" alt="spatialism">
            </div>

            <div class="artwork">
                <img src="../static/images/spatialism2.jpeg" th:src="@{/images/spatialism2.jpeg}" alt="spatialism">
            </div>

            <div class="artwork">
                <img src="../static/images/spatialism3.jpeg" th:src="@{/images/spatialism3.jpeg}" alt="spatialism">
            </div>

            <div class="artwork">
                <img src="../static/images/spatialism4.jpeg" th:src="@{/images/spatialism4.jpeg}" alt="spatialism">
            </div>
        </div>

    </main>

    <nav>
        <a th:href="@{/collections}">Collezioni</a>
        <a th:href="@{/artists}">Artisti</a>
        <a th:href="@{/artworks}">Opere</a>
        <a th:href="@{/login}">Login</a>

        <footer>
            <p>Copyright &copy; 2021 Matteo Galdi</p>
        </footer>
    </nav>


</div>

</body>
</html>