<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/artwork.css">
    <title>Title</title>
</head>
<body>
<div class="grid">
    <div class="artwork">
        <img src="../static/images/tagli.jpeg" alt="">
    </div>
    <div class="description">
        <a class="go-back" href="" onclick="goBack()">← Torna indietro</a>
        <h1>Tagli 1</h1>
        <a href="">
            <i>Lucio Fontana</i>
        </a>
        <br>
        <i>1980</i>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam at consequuntur ea, eaque est, harum
            maxime, non quasi reiciendis tenetur ullam? Fuga illum inventore itaque, nobis nulla optio quia!</p>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>